{%load static%}
<link rel="stylesheet" href={%static "model/style/indexdata.css"%}>
<section   class="box">
	<a href="#"> ---->>-->>石板姐</a>
	<div class="lab">
		消息
	</div>
	<div class="data">
		<ul class="left">
          {%for i in range%}
			<li class="li">
				<img src="static/img/loading.jpg" alt="" class="photo" >
				<p class="name">田华</p>fdsf
			</li>
			{%endfor%}
			
		</ul>
		<ul class="right">
			{%for i in range%}
			<li class="li">
				<img src="static/img/loading.jpg" alt="" class="photo">
				<p class="name">田华</p>fdsf
			</li>
			{%endfor%}

		</ul>
		
		<ul class="middle">
			{%for i in range%}
			<li class="li">
				<img src="static/img/loading.jpg" alt="" class="photo">
				<p class="name">田华</p>fdsf
			</li>
			{%endfor%}
		</ul>
	</div>
	<div class="lab">
		商品
	</div>
	<div class="data">
		<ul class="left">
          {%for i in range%}
			<li class="li">
				<img src="static/img/loading.jpg" alt="" class="photo">
				<p class="name">田华</p>fdsf
			</li>
			{%endfor%}
			
		</ul>
		<ul class="right">
			{%for i in range%}
			<li class="li">
				<img src="static/img/loading.jpg" alt="" class="photo">
				<p class="name">田华</p>fdsf
			</li>
			{%endfor%}
		</ul>
		<ul class="middle">
			{%for i in range%}
			<li class="li">
				<img src="static/img/loading.jpg" alt="" class="photo">
				<p class="name">田华</p>fdsf
			</li>
			{%endfor%}
		</ul>
	</div>
</section>