<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="2">
	<title>goodstrade</title>
	<link rel="stylesheet" href="../style/goods.css">
	<script type="text/javascript" src="../js/goods.js"></script>
</head>
<body>
	<div id="container">
		<header id="header">
			<nav id="topbar"> <img src="../img/loading.jpg" alt="登陆的头像">
				<div id="name">姓名</div>
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">登陆</a></li>
					<li><a href="#">登陆</a></li>
					<li><a href="#">登陆</a></li>
					<li><a href="#">登陆</a></li>
				</ul>
			</nav>
		</header>
		<section  id="content">
			<div id="sell">
				<div id="title">
					标题
				</div>
				<div id="call">
					联系方式
				</div>
				<div id="explain">
					详述
				</div>
				
			</div>
			<div id="buy">
				<div id="title">
				   需求
				</div>
				<div id="th">
					物品1(x2斤)
				</div>
				<div id="detail">
					详述
					或图片
				</div>

				
			</div>

		</section>
	</div>
</body>
</html>