<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="2">
	<link rel="stylesheet" href="../style/timenews.css">
	<script type="text/javascript" src="../js/timenews.js"></script>
	<title>timenews</title>

</head>
<body>
	<div id="container">
		<header id="header">
			<nav id="topbar"> <img src="../img/loading.jpg" alt="登陆的头像">
				<div id="name">姓名</div>
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">登陆</a></li>
					<li><a href="#">登陆</a></li>
					<li><a href="#">登陆</a></li>
					<li><a href="#">登陆</a></li>
				</ul>
			</nav>
		</header>
		<div id="content">
			<div id="img">
				<img src="../img/loading.jpg" alt="">
				<div class="usrxy">田华</div>
				<div class="usrxy">
					<p>好评123/差评12</p>
					<p>信用度12</p>
				</div>
			</div>
			<div id="usrinfo">
				<div id="title">
					标题
				</div>
				<div id="ct" contenteditable="true">
					内容
				</div>
				<div id="call">
					联系方式
				</div>
			</div>
			<div id="info">
				
			</div>
		</div>
	</div>
</body>
</html>