*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{

}
#container{
	width:80%;
	min-width: 850px;
	margin:auto;
}


#header{
	width:100%;
	height:21.33%;
	margin-bottom:1%;
	box-shadow: 5px 5px 3px #8F8F8F; 
	
}
#ad{
	height:80%;
	width:100%;
	background:yellow;
}
#ad img{
	height: 100%;
	width: 100%;
}
#topbar{
	height:20%;
	width:100%;
	background:blue;
	position: relative;
}
#topbar img{
	height:100%;
	border-radius:50%;
	float:left;
	margin-left:4%;
}
#topbar #name{

	margin-top:2.5%;
	margin-left: 1%;
	color:#FFF;
	float:left;
}

#topbar ul{
	height:60%;
	margin: auto;
	margin-top:2%;
	float: left;
}

#topbar ul li{
	height:100%;
	list-style:none;
	margin-left:100px;
	float:left;
}

#topbar ul li a{
	display: block;
	background:blue;
	text-decoration:none;
	font-size: 17px;
	color:#FFF;
}

/**********************88********/

#container #content{
	margin:auto;
	width: 100%;
	height:59.73%;
	background: blue; 
	box-shadow: 5px 5px 3px #8F8F8F; 
}
#content #centerbox{
	height:100%; 

}
#centerbox #img{
	height:10%; 
	clear:both;
	background: yellow;
}
#img img{
	height:100%; 
}
#centerbox #name{
	height:10%;
	background: red; 
	clear: both;
}
#centerbox #good{
   float: left;
   width:10%;
   height:10%; 
   background: green; 
}
#centerbox #middle{
   float: left;
   width:10%;
   height:10%; 
   background: green; 
}
#centerbox #bad{
   float: left;
   height:10%; 
   width:10%;
   background: green; 
}
#centerbox #xy{
	clear:both;
	height:10%;
	background: red; 
}
#centerbox input{
	background: green;
	height:10%; 
}

#centerbox #evalcontent{
	background: red;
	height:40%; 
}
#centerbox #pre{
	float:left;
	width:10%;  
	background: green;
	height:10%; 
}
#centerbox #page{
	float:left;
	width:10%;  
	background: green;
	height:10%;
}
#centerbox #next{
	float:left;
	width:10%;  
	background: green;
	height:10%;
}


#footer{
    margin-top: 1%;
	clear:both;
	height:17.06%;
	width:100%;
	background:green;
	box-shadow: 5px 5px 3px #8F8F8F;
}





