*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{

}

#container{

	margin:auto;
	height:100%;
	width:80%;

	min-width:800px;
	height:1000px;
}
#header{
	width:100%;
	height:24.5%;
	box-shadow: 5px 5px 3px #8F8F8F;
}
#ad{
	height:80%;
	width:100%;
	background:yellow;
}
#ad img{
	height: 100%;
	width: 100%;
}
#topbar{
	height:20%;
	width:100%;
	background:blue;
	position: relative;
}
#topbar img{
	height:100%;
	border-radius:50%;
	float:left;
	margin-left:4%;
}

#topbar #name{

	margin-top:3%;
	margin-left: 1%;
	color:#FFF;
	float:left;
}
#topbar ul{


	height:60%;
	margin: auto;
	margin-top:2%;
	float: left;
	
	
}

#topbar ul li{
	height:100%;
	list-style:none;
	margin-left:100px;
	float:left;
}

#topbar ul li a{
	display: block;
	background:blue;
	text-decoration:none;
	font-size: 17px;
	color:#FFF;
}


/************------内容开始-------**************/

#content{
	width: 100%;
	height: 75.5%;
	background: green;
	padding-top:5%; 
	margin-top: 1%;
	box-shadow: 5px 5px 3px #8F8F8F;
}


#content #im{

	width:20%;
	margin:auto;
	
}

#im img{
	width:100%;
	border-radius:50%;

}
#ldinfoim{
	width:10%;
	text-align: center;
	margin:auto;
}
#content #fo{
	display: block;
	background: #CCC;
	margin:auto;
	margin-top:3%;
	width: 50%;
	height:50%;
	padding-right:3%; 
}

#content #fo label{
	height:10%; 
	margin-left:3%;
	font-size:1.5em;
	color:#FFF;
}
#content  #fo input{
	margin-top:10%;
	height:10%;
	width:80%; 
	font-size: 1.2em;
	


}


#footer{
    margin-top: 1%;
	clear:both;
	height:10%;
	width:100%;
	background:green;
	box-shadow: 5px 5px 3px #8F8F8F;
}
