*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;

}
body{

	background-image:url(../img/background/s.jpg) ;


}
#container{
	width: 100%;
	min-width:800px; 
	background-color: rgba(0,0,0,0.5);
	margin: auto;

}

#fom{
	
	color:#FFF;
	width: 45%;
	height: 100%;
	background: green;
	margin:auto;
	padding-top:1%;
	padding-right:3%;
	
}
#fom label{
	width:90%;
	height:30%;  
	display: block;
	font-size:120%; 
	margin:auto;
	margin-top:3%;
	text-align: right;
	
	
}
#fom label input{
	float:right;
	height:70%;
	width:75%; 
	border-radius: 3px; 
	border-style: none;
	border: 1px solid black;
}
#fom #inp{
	float:right;
	height:30%;
	width: 75%;

}

#inp .put{
	
	background:#FFF; 
    border-radius:5px ; 
	outline: none;
	width: 27%;
	height:65%; 
	font-size: 100%;
	margin-top: 1.5%;
    margin-left:3.5%; 

	
}


