*{
	margin:0;
	padding:0;

}
body{
   
	background-image:url(../img/background/s.jpg);
	



}
#container{
	width:100%; 
	min-width:800px; 
	margin: auto;
}
#container #back{
	background-color: rgba(0,0,0,0.5);
	height:100%;
	width:100%;  

}

#fom{
	box-sizing: border-box;
	color:#FFF;
	width:50%;
	height: 100%;
	background: green;
    margin:auto;
    padding-top:1%; 
   
}
#fom label{
	width:80%;
	height:9.5%;  
	display: block;
	font-size:1.1em; 
	margin:auto;
	margin-top: 1%;
	
}
#fom label input{
	float:right;
	margin-right:1%;
	height:90%;
	width:65%;
	border-radius: 3px;
	border:1px solid black;
	font-size: 0.6em;


}

#fom #sex{
   background:#f5fffa;
   width:15%;
   height:70%; 
   font-size:1em;
   margin-right: 51%;
   float: right;
   margin-top:1%; 
}
#fom .birth{
	width:20.7%; 
}


#fom #inp{
	margin-left:35%;
	height:8%;
	width: 60%;

}

#inp  .put{
	
	background:#FFF; 
	border-radius: 5px 5px ;
	outline: none;
	width: 40.8%;
	height:100%; 
    font-size: 100%;
    margin-top: 2%;
    margin-left: 3.6%;
    border:1px solid black;
    
	
}


