*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.box{
	display: block; 
	width: 100%;
	height:32.407%;
	/*height:700px; */
	background:#FFF; 
	margin-top:30px; 
	border:1px solid #ccc;
	box-shadow: 5px 8px 3px #8F8F8F; 
	background-color: #FFF;

}
.box a{
	display: block;
	background:green;
	text-decoration: none;
	width:100%;
	height:5.714%;  
	padding-top:0.5%; 
	font-size: 1.2em;
	color:#FFF;
}
.lab{
	/*background:red;*/
	height:4.285%;
	width:100%;
	text-align:center;
	color:red;
	


}

.data{
	
	height: 42.85%;
	width:100%; 
	list-style: none;
	/*padding-top:10px; */
	/*background: yellow;*/



}

.data .left{
	width:33%;
	height:100%;
	float:left;
	list-style: none;
	/*background: red; */
}

.data .middle{
   /*clear: both;*/
	width:33%;
	height: 100%;
	margin:auto;
	list-style: none;
	/*margin-left:1%; */
	/*background: red */
}

.data .right{
	width: 33%;
	height:100%;
	float:right;
	list-style: none;
	/*background: red; */
	position: relative;
}


.data .li{
	position: relative;
	display: bolck;
	background: green;
	height:17.39%; 
	color:#FFF;
	/*color:blue;*/
	margin-bottom:10px;
}
.li img{
	float:left;
	/*display: block;*/
	 
	height:100%;
	width:50px;
	background: red;
	
	border-radius:50%;  
	
}



.li .name{
	position: absolute;
	top:50%;
	left:8px;
	color:blue;

}


